<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv = "refresh" content = "10; url = https://career-page-vms.herokuapp.com/admin" />
    <link rel="icon" href="https://play-lh.googleusercontent.com/E5wrRW1UNjMFrVX6Q--cgGGgvCU9mFLEVpf0GFrAXvYGy7a1t2xY8rUYcuih4qy7vA=w144-h144-n-rw" /> 
    
    <title>Career Page | No result !!</title>
    
    <style>
      body{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        font-size: x-large;
      }
      @media(max-width:577px){
      .xs{
        width:80%;
        padding: 3px;
      }
      
      .bt{
        width: 60%;
      }
    }
    .im{
        width:38%;
      }
    </style>
  </head>
<body>

    <div class="page_not_found">

      <img class="col-lg-3 col-md-4 col-sm-4 im" src="../images/VMS.png" alt="logo">
      <h3>
          OOPS, <%= err %> not found !!
      </h3>

    </div>

</body>
</html>