<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://play-lh.googleusercontent.com/E5wrRW1UNjMFrVX6Q--cgGGgvCU9mFLEVpf0GFrAXvYGy7a1t2xY8rUYcuih4qy7vA=w144-h144-n-rw" /> 
  <!-- <meta http-equiv = "refresh" content = "10; url = https://www.virtualmaze.com" /> -->

  <!--Bootsrap 4 CDN-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!--Fontawesome CDN-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <title>Career Page | Login !!</title>

  <style>
    @import url('https://fonts.googleapis.com/css?family=Numans');

    html,
    body {
      /* background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg'); */
      /* background-image: url('https://unsplash.com/photos/zEqkUMiMxMI'); */
      background-image: url('./images/vmsbg.jpg');
      background-attachment: scroll;
      background-repeat: no-repeat;
      background-size: 100%;
      font-family: 'Numans', sans-serif;
    }

    .container {
      height: 80%;
      align-content: center;
    }

    .card {
      display: flex;
      justify-content: center;
      align-content: center;
      text-align: center;
      height: 370px;
      /* margin-top: auto;
      margin-bottom: auto; */
      width: 400px;
      background-color: rgba(0, 0, 0, 0.342) !important;
    }

    /* .social_icon span {
      font-size: 60px;
      margin-left: 10px;
      color: #FFC312;
    }

    .social_icon span:hover {
      color: white;
      cursor: pointer;
    } */

    .card-header h3 {
      color: white;
    }

    /* .social_icon {
      position: absolute;
      right: 20px;
      top: -45px;
    } */

    .input-group-prepend span {
      width: 3rem;
      background-color:rgb(91, 192, 222);
      color: black;
      border: 0 !important;
    }

    input:focus {
      outline: 0 0 0 0 !important;
      box-shadow: 0 0 0 0 !important;

    }

    .remember {
      color: white;
    }

    .remember input {
      width: 20%;
      height: 20%;
      margin-left: 15px;
      margin-right: 5px;
    }

    .login_btn {
      color: black;
      background-color: rgb(91, 192, 222);
      width: 50%;
    }


    .login_btn:hover {
      color: black;
      background-color: white;
    }

    .links {
      color: white;
    }

    .links a {
      margin-left: 4px;
    }

  @media(max-width:577px) {
    .col-xs {
      width: 80%;
      text-align: center;
    }
    body{
      background-size: cover;
      height: 100%;
    }
    .xs {
      padding: 8px;
    }

    .im {
      width: 35%;
    }

    .bt {
      width: 60%;
    }
  }
  </style>

</head>

<body>
  <nav class="navbar navbar-light ">
    <div class="container-fluid justify-content-end">
    <img class="col-lg-2 im col-md-3 col-sm-3 btn" 
    src="./images/VMS.png" alt="logo" onclick="location.assign(`https:\\www.virtualmaze.com/`);">
    <!-- <button class="btn btn-outline-success me-2" type="button" onclick="location.assign('/login')">Login</button> -->
    <!-- <button class="btn btn-outline-success me-2" type="button" onclick="console.log('Login Clicked')">Sign Up</button> -->
    </div>
  </nav>
  <!-- <nav class="navbar navbar-light ">
    <img class="col-lg-2 col-md-3 col-sm-3 btn" onclick="console.log('Image Clicked')"
    src="./images/VMS.png" alt="logo">
    <button class="btn btn-outline-success me-2" type="button" onclick="console.log('Login Clicked')">Login</button>
  </nav> -->
  <form action="/signup" class="container-fluid justify-content-end">
  <div class="container">

    <div class="d-flex mt-5 align-items-center justify-content-center row">
      <div class="card">
        <div class="col my-2 mt-2 card-header">
          <h3 class="">Sign In</h3>
          <!-- <div class="d-flex justify-content-end social_icon">
      <span><i class="fab fa-facebook-square"></i></span>
      <span><i class="fab fa-google-plus-square"></i></span>
      <span><i class="fab fa-twitter-square"></i></span>
    </div> -->
        </div>
        <div class="col card-body">
          <form action="/signup" class="form-signin">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope ml-1"></i></span>
              </div>

              <!-- E-Mail Field -->
              <input type="email" name="email" class="form-control" placeholder="Email" required>
            </div>

            <!-- E-Mail Error Block -->
            <div class="email error"></div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key ml-1"></i></span>
              </div>

              <!-- Password Field -->
              <input type="password" name="password" class="form-control" placeholder="password" required>
            </div>

            <!-- Password Error Block -->
            <div class="password error"></div>
            <!-- <div class="row align-items-center remember">
        <input type="checkbox">Remember Me
      </div> -->
            <div class="form-group my-3">
              <!-- Login Button -->
              <input type="submit" value="Sign Up" class="btn float-right login_btn">
            </div>
          </form>
        </div>
        <div class="card-footer my-3">
          <div class="d-flex justify-content-center links">
            Already have an account?<a href="\login" class="text-warning">LogIn</a>
          </div>
          <!-- <div class="d-flex justify-content-center">
      <a href="#">Forgot your password?</a>
    </div> -->
        </div>
      </div>
    </div>
  </div>


  
  <script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      // reset errors
      emailError.textContent = '';
      passwordError.textContent = '';
      // get values
      const email = form.email.value;
      const password = form.password.value;
      try {
        const res = await fetch('/signup', { 
          method: 'POST', 
          body: JSON.stringify({ email, password }),
          headers: {'Content-Type': 'application/json'}
        });
        const data = await res.json();
        console.log(data);
        if (data.errors) {
          emailError.textContent = data.errors.email;
          passwordError.textContent = data.errors.password;
        }
        if (data.user) {
          location.assign('\admin');
        }
      }
      catch (err) {
        console.log(err);
      }
    });
  </script>
</body>
</html>